/*  Don't forget to look into these concepts: `display`, `overflow`, `clear` */

/*  Be sure to [validate your html](https://validator.w3.org/#validate_by_input). */

html, body {
    height: 100%;
    margin: 0;
}

body {
        background: url("../images/ripples.png");
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}


.header {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    z-index: 3;
}

.insideHead {
    margin-left: 25%;
    width: 960px;
}

.name {
    width: 350px;/* 350+610=960 */
    height: 75px; /* 75+5 = 80 */
    padding-top: 5px;
    text-align: center;
    background-color: #4aaaa5;
    float: left;
}

.nav li {
    display: inline-block;
    padding: 10px;
}

.noLine {
    text-decoration: none;
}

.noLine:hover {
    color: #4aaaa5;
}

.navLinks {
    height: 75px; /* 75+5 = 80 */
    width: 610px;
    text-align: right;
    text-decoration: none;
    padding-top: 5px;
    float: right;

}

.content {
    width: 960px; /* match .insideHead */
    margin-left: 25%;
    margin-top: 160px;
    margin-bottom: 0;
    background-color: #ffffff;
    border-style: solid;
    border-color: #dddddd; 
}
#contentIndex {
    height: 600px; /* is it better to have an ID for each page adjusting the height? */
}

#contentContact {
    height: 635px;
}

#contentPortfolio {
    height: 535px;
}

.contentTopper {
    margin: 0px 20px 0px 20px; /* to create the apearance of a uncompleted boarder */
    height: 40px; /* h1=80px h2=60px */
    padding: 0px 0px 20px 0px;
    width: 920px; /* (20px * 2) - each side missing 20px to match the 40 gap between header and content */
    border-bottom: 2px solid #dddddd;
}

h2 {
    padding-top: 10px;
}

img {
    margin: 0px 2.5% 2.5% 0px;
    float: left;
}

p, h3 { 
    line-height: 1.5;
    padding: 1% 2.5% 0px 2.5%; /* unsure why top looks like has a margin even with a 0px value */
}

.theRealSubmitButton {
    margin: 0px 0px 0px 2.5%;
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

.galleryTag {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #4aaaa5;
    float: left;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.gallery {
    margin: 3% 7% 0px 7% ; /* fits 3 wide nicely */
    float: left;
    width: 180px;
}

div.gallery img {
    width: 100%;
    height: auto;
}

.inputBox {
    border: 2px solid #dddddd;
}

.textareaBox {
    text-align: left;
    height: 150px;
    width: 910px;
    border: 2px solid #dddddd;
    resize: none;
}

.footer, .push { 
    height: 50px;
/*     position: fixed;
    bottom: 0; */
    width: 100%;
    padding: 0;
    margin: 0;
/*     border-top: 8px solid #4aaaa5;
    background-color: #666666; */
}

.footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
}

/* .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 8px solid #4aaaa5;
    background-color: #666666
} */

.bold{
    font-weight: bold;
}

/* used for headings and backgrounds */
.teal, h2 {color: #4aaaa5}

/* Main header background color & Main content background color*/
.mainBG, h1, h4 {color: #ffffff}

/* Main header border color */
.headBorder {color: #cccccc}

/* Footer background color */
.footBorder {color: #666666}

/* Main content border color */
.mainBorder {color: #dddddd}

/* For heading fonts use */
h1, h2, h3, h4 {font-family: 'Georgia', Times, Times New Roman, serif;}

/* For all other fonts use */
p, a, li {font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;}

/* used for paragraphs and all text besides the headings */
.navColor, p, li, h3 {color: #777777}

   /* Make your pages more sophisticated by adding style to text links, to image links,
 and to buttons for when a user hovers their cursor over them.
  A CSS hover tutorial can be found [here](http://www.codeitpretty.com/2013/06/how-to-use-css-hover-effects.html). */